@font-face {
  font-family: Bree;
  src: url('../fonts/BreeSerif_Reg.otf');
}
@font-face {
  font-family: Redressed;
  src: url('../fonts/Redressed.ttf');
}

html {
	min-height: 101%;
	line-height: 1.4;
	font-family: Bree,'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#holding-card, #challenging-card {
	width: 35%;
	margin-left: 2%;
	margin-right: 2%;
	float: left;
	background: #0095da;
	border-radius: 10px;
}
.inner {
	padding: 2%;
	margin: 3%;
	background: white;
}
.criterion {
	background-color: #d14;
	margin: 2% 0 0 0;
	padding: 2%;
	color: white;
}
#holding-card .criterion {	
	cursor: pointer;
}
.criterion span {
	float: right;
}
.criterion strong {
	color: white;
	float: left;
}
#high-score {
	text-transform: uppercase;
	border-bottom: 2px solid #e5e5e5;
}
#reset-score, #re-draw {
	color: #d14;
	cursor: pointer;
}

.side {
	float: right;
	width: 20%;
	height: 300px;
	border-left: 1px solid #e5e5e5;
	box-shadow: -1px 0 0 0 rgba(0,0,0,0.1);
}
.side div {
	padding: 5%;
	border-bottom: 1px solid #e5e5e5;
	background: #f3f3f3;
	background-image: linear-gradient(#f9f9f9, #f3f3f3);
}
.side span {
	color: #d14;
	float: right;
	font-family: Redressed,'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.clear {
	clear: both;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
img {
	max-width: 100%;
	border-radius: 15px;
}
h1 {
	font-family: Redressed,'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #0095da;
	margin-top: 0;
}
strong {
	color: #999;
}

button[disabled] {
	background-color: #0095da;
}
button:not([disabled]):hover {
	color: white;
	background-color: #0095da;
	cursor: pointer;
}

@media (max-width: 50em){
	#holding-card, #challenging-card {
		width: 46%;
	}
	#holding-cards-remaining {
		clear: both;
	}
	.side {
		float: none;
		width: 100%;
		border-left: 0 none;
	}
}

@media (max-width: 40em){
	#holding-card, #challenging-card {
		width: 96%;
		margin-bottom: 2%;
		font-size: 0.75em;
	}
	.facts {
		float: left;
		width: 46%;
		padding: 0 2% 0 0;
	}
	img {
		float: right;
		width: 50%;
	}
	.criterion {
		float: none;
	}
	button {
		font-size: .8em;
	}
}