@font-face {
  font-family: Bree;
  src: url('../fonts/BreeSerif_Reg.otf');
}
@font-face {
  font-family: Redressed;
  src: url('../fonts/Redressed.ttf');
}

html {
	min-height: 101%;
	line-height: 1.4;
	font-family: Bree,'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #f0f0f0;
}
body {
	display:flex;
}
#holding-card, #challenging-card {
	width: 25%;
	margin-left: 2%;
	margin-right: 2%;
	float: left;
	border: 1px solid #999;
	background: white;
	box-shadow: 5px 5px 0 0 rgba(0,0,0,0.1);
}
.inner {
	border-radius: 10px;
	padding: 5%;
}
.criterion {
	background-color: #d14;
	margin: 2% 0;
	padding: 2%;
	color: white;
}
#holding-card .criterion {	
	cursor: pointer;
}
.criterion span {
	float: right;
}
.criterion strong {
	color: white;
	float: left;
}
.clear {
	clear: both;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
img {
	max-width: 100%;
	border-radius: 15px;
}
h1 {
	font-family: Redressed,'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #0095da;
	margin-top: 0;
}
strong {
	color: #999;
}

button[disabled] {
	background-color: #0095da;
}
button:not([disabled]):hover {
	color: white;
	background-color: #0095da;
	cursor: pointer;
}

@media (max-width: 36.25em){
	#holding-card, #challenging-card {
		width: 45%;
		font-size: 0.75em;
		margin-bottom: 2%;
	}
	.criterion {
		float: none;
	}
	strong {
		display: block;
	}
	button {
		font-size: .8em;
	}
}